*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

body {
  background-color: #ffffff;
  color: #261a35;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.main-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0;
    background: #c298d3;
    z-index: 1000;
}

.main-nav ul {
    display: block;
    list-style: none;
    gap: 35px;
    padding: 0;
    margin: 0;
}

.main-nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav li {
    position: relative;
}

nav a{
    display: inline-block;
    padding: 2px 5px;
    border-radius: 6px;
    border: 0px solid #a091bb;
    color: rgb(253, 231, 255);
    text-decoration: none;
    font-weight: 500;
    transition: transform .12s ease, background .12s ease;
}

nav a:hover{
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

#inicio .hero{
    margin-top: 20px;
    text-align: justify;
    margin: 5px 30px;
    margin-bottom: 50px;
}

.hero_image-wrap{
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero_image-wrap img{
    max-width: 300px;
    width: 100%;
}


.hero .hero_content{
    line-height: 1.4rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero_content h1{
    margin-top: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: #582d69;
}

.hero p{
    margin-top: -30px;
    margin-bottom: 0px;
    margin-top: 0;
}

a{
    margin-top: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

a:hover{
    color: #a091bb;
}

#sobremi, #intereses #agenda, #contacto{
    padding: 30px 30px;
    margin-bottom: 30px;
    line-height: 1.4rem;
}

section#sobremi{
        background-color: #f1eaff;
}

.infosobremi{
    margin-top: 20px;
}

.imgsobremi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgsobremi img{
    border-radius: 10px;
    border: 1px solid #a988b6;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.imgsobremi img{
    max-width: 200px;
    width: 100%;
}

.infosobremi h2, h3, p{
    justify-content: center;
    padding: 0px 150px;
}

.infosobremi p{
    margin: 0;
    padding: 0;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 0px 150px;
    padding-top: 5px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

#intereses {
    margin-top: 20px;
    padding: 20px 150px;

}


.listaulimg-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listaul h2 {
    justify-content: center;
    text-align: center;
}

.listaulimg-wrap img{
    margin-top: -70px;
    gap: 10px;
    margin-bottom: 0px;
}

.listaulimg-wrap img{
    max-width: 700px;
    width: 100%;
}

.listaul ul {
    max-width: 300px;
    margin: 0 auto;
    padding-left: 80px;
    text-align: justify;
}

.listaul ul li{
    margin: 6px 0;
    padding: 0;
}

.listaol span{
    background-color: #ecb9ec;
    padding: 3px 8px;
}

.listaol h1 {
    margin-top: -40px;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.listaol ol {
    max-width: 300px;
    margin: 0 auto;
    padding-left: 70px;
    text-align: justify;
}

.listaol ol li{
    margin: 6px 0;
    padding: 0;
}


#agenda{
    justify-content: center;
    padding: 20px 100px;
}

.tabla{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 55px;
}


.tabla th{
    background-color: rgba(188, 136, 206, 0.452);
    padding: 10px 15px;
    font-size: 1.1em;
    color: rgb(64, 25, 65);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(14, 10, 34, 0.11);
}

.tabla td{
    margin-top: 10px;
    background-color: rgb(234, 210, 235);
    padding: 20px 15px;
    color: rgb(33, 19, 39);
    line-height: 1.5em;
    box-shadow: 0 4px 8px rgba(14, 10, 34, 0.11);
}

.tabla tbody {
    text-align: center;
}

#contacto{
    margin-top: -50px;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.form-contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 20px auto;
}

.form-contacto label {
    font-weight: 500;
}

.form-contacto input{
    padding: 8px 10px;
    border: 1px solid #836ca0;
    font-size: 14px;
}

.form-contacto button {
    margin-top: 10px;
    padding: 10px;
    background: #a264be;
    border: none;
    color: #ffffff;
    font-weight: 600;
}

.form-contacto button:hover {
    background-color: #cda0e2;
    color: #7e4e77;
}

.contacto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



footer {
    padding-top: 20px;
    padding-bottom: 30px;
    top: 0;
    background: #c298d3;
    z-index: 1000;
}

footer p {
    font-weight: 500;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;

}


.footer-redes {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-redes a {
    display: inline-block;
}

footer a{
    list-style: none;
    border-radius: 6px;
    border: 0px solid #a091bb;
    color: rgb(252, 222, 255);
    text-decoration: none;
    font-weight: 500;
    transition: transform .12s ease, background .12s ease;
}

footer a:hover{
    color: #a264be;
    text-decoration: none;
    outline: none;
}



